<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      th:fragment="html(titulo, contenido, estilos)">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- título dinámico -->
    <title th:replace="${titulo}">Aplicación</title>

    <!-- CSS global -->
    <link rel="stylesheet" th:href="@{/css/navbar.css}" />

    <!-- CSS extra -->
    <th:block th:replace="${estilos} ?: ~{}"></th:block>
</head>
<body>
    <ul>
        <li th:if="${Consultor}">
            <a th:href="@{/consultor/panel}">Consultor</a>
            <p>Estás en tu main de <strong>Consultor</strong></p>
        </li>

        <li th:if="${Cliente}">
            <a th:href="@{/cliente/panel}">Cliente</a>
            <p>Estás en tu main de <strong>Cliente</strong></p>
        </li>

        <li th:if="${Postulante}">
            <a th:href="@{/postulante/panel}">Postulante</a>
            <p>Estás en tu main de <strong>Postulante</strong></p>
        </li>
    </ul>

    <!-- 👇 Lugar donde se inyecta el section de la hija -->
    <main th:replace="${contenido}"></main>
</body>
</html>
