<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      th:fragment="html(titulo, contenido, estilos)">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- título dinámico -->
    <title th:replace="${titulo}">Aplicación</title>
    
    <!-- CSS global -->
    <link rel="stylesheet" th:href="@{/css/navbar.css}" />
    
    <!-- CSS extra opcionales que pasen las vistas hijas -->
    <th:block th:replace="${estilos} ?: ~{}"></th:block>
</head>
<body>

    
    <div class="contenedor">


 <!-- Cabecera -->   
            <header class="cabezal-principal">
                <h1>BiosWork TESTING FRAGMENTS</h1>
            </header>

            <p> BIENVENID@ <span th:if="${usuarioLogueado!=null}" th:text="${usuarioLogueado.usuario}"></span></p>

            <!-- Navegación -->
            <nav class="navegacion-principal">
                <ul>
                <li>
                    <a th:href="@{/}">Inicio</a></li> 
                    <li><a th:href="@{/home/main}">Principal</a></li> 

                    <li><a th:href="@{/home/deslogueo}">Salir</a></li>

                <!--SI ES CONSULTOR-->
                <li th:if="${usuarioLogueado instanceof T(com.bios.edu.uy.obligatorio2025.Dominio.Consultor)}">
                    <a th:href="@{/consultores/main}">Consultores</a></li>
                <li th:if="${usuarioLogueado instanceof T(com.bios.edu.uy.obligatorio2025.Dominio.Consultor)}">
                    <a th:href="@{/clientes/main}">Clientes</a></li>

                    <!--SI ES CLIENTE-->
                <li th:if="${usuarioLogueado instanceof T(com.bios.edu.uy.obligatorio2025.Dominio.Cliente)}">
                    <a th:href="@{/postulantes/ver}">Ver postulantes</a></li>
                <li th:if="${usuarioLogueado instanceof T(com.bios.edu.uy.obligatorio2025.Dominio.Cliente)}">
                    <a th:href="@{/ofertas/main}">Ofertas</a></li>

                    <!--SI ES POSTULANTE-->
                <li th:if="${usuarioLogueado instanceof T(com.bios.edu.uy.obligatorio2025.Dominio.Postulante)}">
                    <a th:href="@{/postulantes/ver}">Mi perfil</a></li>
                <li th:if="${usuarioLogueado instanceof T(com.bios.edu.uy.obligatorio2025.Dominio.Postulante)}">
                    <a th:href="@{/ofertas/lista}">Ver ofertas</a></li> 

                </ul>
            </nav>

        <main class="contenido" th:replace="${contenido} ?: ~{}"></main>


    </div>


   
   
</body>
</html>
