<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" 
 th:replace="~{fragmentos/pagina-maestra :: html(~{::title}, ~{::section}, ~{::link})}"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Área</title>
    <link rel="stylesheet" th:href="@{/css/crud.css}">
</head>
<body>

<div class="card">
     <form th:action="@{/areas/crear}" method="post" th:object="${area}">

        <p th:text="${mensaje}" style="color: rgb(255, 54, 47);"></p>
        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" name="nombre" required placeholder="Ingrese un nombre">
        <button type="submit">Crear Area</button>
     </form>

     <a th:href="@{/areas/lista}" id="volver">Volver al listado</a>
</div>

</body>
<script>
    const nombre = document.getElementById('nombre').focus();
</script>
</html>