<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"

   th:replace="~{fragmentos/pagina-maestra :: html(~{::title}, ~{::section}, ~{::link})}">

<head>
    <title>Listado de Áreas</title>
    <link rel="stylesheet" th:href="@{/css/listas.css}">
</head>

<section>
    <div id="contenedor">
    <div class="card">
        <h2>Listado de Áreas</h2>

        <form id="formularioBusqueda">
            <div>
                <input type="search" name="criterio" th:value="${param.criterio}" id="criterio" placeholder="código o descripción"> <input type="submit" value="Buscar">
            </div>
        </form>

        <div style="text-align: right; margin-bottom: 10px;">
        <a th:href="@{/areas/crear}" class="btn">Agregar</a>
    </div>
        <table>
            <thead>
        <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Acciones</th>
        </tr>
            </thead>
        <tbody>
            <tr th:each="a : ${areas}">
                <td th:text="${a.id}"></td>
                <td th:text="${a.nombre}"></td>
                <td>
                    <a th:href="@{/areas/modificar(id=${a.id})}" class="btn">Modificar</a>
                    <a th:href="@{/areas/eliminar(id=${a.id})}" class="btn">Eliminar</a>
                </td>
            </tr>
        </tbody>
        </table>
    </div>
    </div>

    <script>
                document.addEventListener('DOMContentLoaded', function() {
                    // Obtener la referencia al formulario de búsqueda
                    const formularioBusqueda = document.getElementById('formularioBusqueda');
                    const criterioInput = document.getElementById('criterio');

                    // Detectar el evento 'search' (cuando se toca la x)
                    formularioBusqueda.addEventListener('search', function() {
                        if (!criterioInput.value) {
                            // Si el campo está vacío, enviamos el formulario.
                            formularioBusqueda.submit();
                        }
                    });

                    // Foco automático
                    criterioInput.focus();
                    criterioInput.select();
                });
            </script>
</section>
</html>

