<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragmentos/pagina-maestra :: html(~{::title}, ~{::section}, ~{::link})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro Consultor</title>
    <link rel="stylesheet" th:href="@{/css/crud.css}">
</head>

<body>
    <!-- Contenido que se inyecta en la master -->
    
    <section>
         <div id="contenedor">
        <div class="card">
            <h2>Registro Consultor</h2>
            <form th:action="@{/consultores/crear}" method="post" th:object="${consultor}">
                <div>
                    <label for="usuario">Usuario</label>
                    <input type="text" id="usuario" th:field="usuario">
                         <p th:errors="*{usuario}" class="error"></p>
                </div>

                <div>
                    <label for="clave">Clave</label>
                    <input type="password" id="clave" th:field="clave">
                        <p th:errors="*{clave}" class="error"></p>
                </div>

              

                <div>
                    <button type="submit" id="crear">Crear</button>
                </div>

                      <p th:if="${mensaje}" th:text="${mensaje}"></p>
            </form>
        </div>
        </div>
    </section>
    
</body>
</html>
