<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragmentos/pagina-maestra :: html(~{::title}, ~{::section}, ~{::link})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro Consultor</title>
    <link rel="stylesheet" th:href="@{/css/crud.css}">
</head>

<body>
    <!-- Contenido que se inyecta en la master -->
    
    <section>
         <div id="contenedor">
        <div class="card">
            <h2>Registro Consultor</h2>
            <form th:action="@{/consultores/crear}" method="post" th:object="${consultor}">
                <div>
                    <label for="usuario">Usuario</label>
                    <input type="text" id="usuario" th:field="*{usuario}">
                         <p th:if="${#fields.hasErrors('usuario')}"
                         th:errors="*{usuario}" class="error-simple"></p>
                </div>

                <div>
                    <label for="clave">Clave</label>
                    <input type="password" id="clave" th:field="*{clave}">
                    <p th:if="${#fields.hasErrors('clave')}" 
                         th:errors="*{clave}" class="error-simple"></p>
                </div>

              

                
                    <button type="submit" id="crear">Crear</button>
                
                    <a th:href="@{/consultores/lista}" id="volver">Volver al listado</a>

                      <p th:if="${mensaje}" th:text="${mensaje}" class="exito"></p>
            </form>
        </div>
        </div>
    </section>
    
</body>
</html>
