<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"

  th:replace="~{fragmentos/pagina-maestra :: html(~{::title}, ~{::section}, ~{::link})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Consultores</title>
    <link rel="stylesheet" th:href="@{/css/listas.css}">
</head>
 <!--ACA VA LISTA DE CONSULTORES, EN CADA ELEMENTO VAN LOs BOTONES VER, MODIFICAR Y ELIMINAR-->

 <section>
    <div id="contenedor">
    <div class="card">
        <div style="text-align: center; margin-bottom: 10px;">
        <h2>Listado de Consultores</h2>

        <form id="formularioBusqueda">
            <div>
                <input type="search" name="criterio" th:value="${param.criterio}" id="criterio" placeholder="usuario"> <input type="submit" value="Buscar">
            </div>
        </form>
        <br>
        <a th:href="@{/consultores/crear}" class="btn">Agregar</a>
        <table>
            <thead>
                <tr>
                    <th>Usuario</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="c : ${consultores}">
                    <td th:text="${c.usuario}"></td>
                    <td>
                        <a th:href="@{/micuentaConsu/verConsultor(usuario=${c.usuario})}" class="btn">ver</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
    </div>
    <script>
                document.addEventListener('DOMContentLoaded', function() {
                    // Obtener la referencia al formulario de búsqueda
                    const formularioBusqueda = document.getElementById('formularioBusqueda');
                    const criterioInput = document.getElementById('criterio');

                    // Detectar el evento 'search' (cuando se toca la x)
                    formularioBusqueda.addEventListener('search', function() {
                        if (!criterioInput.value) {
                            // Si el campo está vacío, enviamos el formulario.
                            formularioBusqueda.submit();
                        }
                    });

                    // Foco automático
                    criterioInput.focus();
                    criterioInput.select();
                });
            </script>
</section>
   
</html>