<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
 
 th:replace="~{fragmentos/pagina-maestra :: html(~{::title}, ~{::section}, ~{::link})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Registro Cliente</title>

    <link rel="stylesheet" th:href="@{/css/crud.css}">

</head>

<section>
    <div id="contenedor">
  <div class="card">
    <h2>Registrar Nuevo Cliente</h2>
    <form th:action="@{/clientes/crear}" method="post" th:object="${cliente}">
        
        <label for="usuario">Usuario</label>
        <input type="text" id="usuario" th:field="*{usuario}">
        <p th:if="${#fields.hasErrors('usuario')}" 
        th:errors="*{usuario}" class="error-simple"></p>

        <label for="clave">Clave</label>
        <input type="password" id="clave" th:field="*{clave}" >
        <p th:if="${#fields.hasErrors('clave')}" 
        th:errors="*{clave}" class="error-simple"></p>

        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" th:field="*{nombre}" placeholder="Empresa Bios">
        <p th:if="${#fields.hasErrors('nombre')}" 
        th:errors="*{nombre}" class="error-simple"></p>

        <label for="rut">Rut</label>
        <input type="text" id="rut" th:field="*{rut}" placeholder="214567890012">
        <p th:if="${#fields.hasErrors('rut')}" 
        th:errors="*{rut}" class="error-simple"></p>

        <label for="sitioWeb">Sitio web</label>
        <input type="text" id="url" th:field="*{url}" placeholder="https://www.ejemplo.com">
        <p th:if="${#fields.hasErrors('url')}"  
        th:errors="*{url}" class="error-simple"></p>

    

        <button type="submit">Registrar Cliente</button>

        <p th:if="${mensaje}" th:text="${mensaje}"></p>

        <a th:href="@{/clientes/lista}" id="volver">Volver al listado</a> 
    </form>
</div>
    </div>
</section>
</html>