<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Registro Cliente</title>

    <link rel="stylesheet" th:href="@{/css/crud.css}">

</head>
<body>
  <div class="card">
    <h2>Registrar Nuevo Cliente</h2>
    <!-- Cambia la URL en th:action al endpoint de tu controlador -->
    <form th:action="@{/clientes/crear}" method="post" th:object="${clientes}">
        
        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" name="nombre" placeholder="Empresa Bios" required>
        
        <label for="rut">RUT</label>
        <input type="text" id="rut" name="rut" placeholder="214567890012" required>
        
        <label for="sitioWeb">Sitio web</label>
        <input type="url" id="sitioWeb" name="sitioWeb" placeholder="https://www.ejemplo.com">

        <button type="submit">Registrar Cliente</button>

        <a th:href="@{/clientes/lista}" id="volver">Volver</a>
    </form>
</div>
</body>
</html>