<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
 
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar Cliente</title>
       <link rel="stylesheet" th:href="@{/css/crud.css}">

</head>

<section>
    <div class="card">
        <h2>Eliminar Cliente</h2>

        <form th:action="@{/clientes/{id}/eliminar(id=${cliente.id})}" method="post">
            

                <label>Nombre:</label>
                <input type="text" th:value="${cliente.nombre}" />

                <label>RUT:</label>
                <input type="text" th:value="${cliente.rut}" />

                <label>Sitio Web:</label>
                <input type="text" th:value="${cliente.urlSitioWeb}" />

                <label>Estado:</label>
                <input type="text" th:value="${cliente.activo ? 'Activo' : 'Inactivo'}" />

                <label>N° Ofertas Publicadas:</label>
                <input type="text" th:value="${cliente.ofertas.size()}" />
            

            <div th:if="${cliente.ofertas.size() > 0}" class="alert-warning">
                ⚠️ Si este cliente tiene ofertas publicadas. Se realizará una <strong>baja lógica</strong>.
            </div>
            <div th:if="${cliente.ofertas.size() == 0}" class="alert-success">
                ✅ Se eliminará definitivamente del sistema.
            </div>

            <button type="submit">Confirmar Eliminación</button>
        </form>

        <a th:href="@{/clientes}" id="volver">← Volver al listado</a>
    </div>
</section>
</html>
