<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   th:replace="~{fragmentos/pagina-maestra :: html(~{::title}, ~{::section}, ~{::link})}">

<head>
    <title>Listado Clientes</title>
    <!-- CSS específico solo para esta página -->
    <link rel="stylesheet" th:href="@{/css/listas.css}">
</head>

<!--<section>
    <div class="card">
        <h2>Listado de Clientes</h2>
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>RUT</th>
                    <th>Sitio Web</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Bios</td>
                    <td>2561788939</td>
                    <td><a href="https://www.bios.com" target="_blank">www.bios.com</a></td>
                    <td>
                        <a href="modificar.html" class="btn">Editar</a>
                        <a href="eliminar.html?id=CL001" class="btn">Eliminar</a>
                        <a href="ver.html?id=CL001" class="btn">Ver</a>
                    </td>
                </tr>
                <tr>
                    <td>Santander</td>
                    <td>2555665178</td>
                    <td><a href="https://www.santander.com" target="_blank">www.santander.com</a></td>
                    <td>
                        <a href="modificar.html" class="btn">Editar</a>
                        <a href="eliminar.html?id=CL002" class="btn">Eliminar</a>
                        <a href="ver.html?id=CL002" class="btn">Ver</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>-->
<section>
    <div class="card">
        <h2>Listado de Clientes</h2>
                <div style="text-align: right; margin-bottom: 10px;">
        <a th:href="@{/clientes/crear}" class="btn">Agregar</a>
    </div>
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>RUT</th>
                    <!--<th>Sitio Web</th>-->
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="c : ${clientes}">
                    <td th:text="${c.nombre}"></td>
                    <td th:text="${c.rut}"></td>
                    <!--<td th:text="${c.sitioWeb}"></td>-->
                    <td>
                        <a th:href="@{/clientes/ver(usuario=${c.usuario})}" class="btn">Ver más</a>
                        <a th:href="@{/clientes/modificar(usuario=${c.usuario})}" class="btn">Modificar</a>
                        <a th:href="@{/clientes/eliminar(usuario=${c.usuario})}" class="btn">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
</html>
