<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado Clientes</title>
   <link rel="stylesheet" th:href="@{/css/listas.css}">
</head>
<body>
      
    <!--ACA VA LISTA DE CLIENTES, EN CADA ELEMENTO VAN LOs BOTONES VER, MODIFICAR Y ELIMINAR-->
<div class="card">
    <h2>Listado de Clientes</h2>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>RUT</th>
                <th>Sitio Web</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Bios</td>
                <td>2561788939</td>
                <td><a href="https://www.bios.com" target="_blank">www.bios.com</a></td>
                <td>               
                    <a href="modificar.html" class="btn">Editar</a>
                    <a href="eliminar.html?id=CL001" class="btn">Eliminar</a>
                    
                </td>
            </tr>
            <tr>
                <td>Santander </td>
                <td>2555665178</td>
                <td><a href="www.santander.com" target="_blank">www.santander.com</a></td>
                <td>             
                    <a href="modificar.html" class="btn">Editar</a>
                    <a href="eliminar.html?id=CL002" class="btn">Eliminar</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

</body>
</html>