<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   th:replace="~{fragmentos/pagina-maestra :: html(~{::title}, ~{::section}, ~{::link})}">

<head>
    <title>Listado Clientes</title>
    <!-- CSS específico solo para esta página -->
    <link rel="stylesheet" th:href="@{/css/listas.css}">
</head>

<section>
    <div id="contenedor">
    <div class="card">
        <h2>Listado de Clientes</h2>

        <form id="formularioBusqueda">
            <div>
                <input type="search" name="criterio" th:value="${param.criterio}" id="criterio" placeholder="código o descripción"> <input type="submit" value="Buscar">
            </div>
        </form>

        <div style="text-align: right; margin-bottom: 10px;">
        <a th:href="@{/clientes/crear}" class="btn">Agregar</a>
    </div>
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>RUT</th>
                    <!--<th>Sitio Web</th>-->
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="c : ${clientes}">
                    <td th:text="${c.nombre}"></td>
                    <td th:text="${c.rut}"></td>
                    <!--<td th:text="${c.sitioWeb}"></td>-->
                    <td>
                        <a th:href="@{/clientes/ver(usuario=${c.usuario})}" class="btn">Ver más</a>
                        <a th:href="@{/clientes/modificar(usuario=${c.usuario})}" class="btn">Modificar</a>
                        <a th:href="@{/clientes/eliminar(usuario=${c.usuario})}" class="btn">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
</section>
<script>
                document.addEventListener('DOMContentLoaded', function() {
                    // Obtener la referencia al formulario de búsqueda
                    const formularioBusqueda = document.getElementById('formularioBusqueda');
                    const criterioInput = document.getElementById('criterio');

                    // Detectar el evento 'search' (cuando se toca la x)
                    formularioBusqueda.addEventListener('search', function() {
                        if (!criterioInput.value) {
                            // Si el campo está vacío, enviamos el formulario.
                            formularioBusqueda.submit();
                        }
                    });

                    // Foco automático
                    criterioInput.focus();
                    criterioInput.select();
                });
            </script>
</html>
