<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
      

<!--ACA VA LISTA DE CONSULTORES-->
<!--EN CADA -->    

    <ul>
        <li> <p> <a th:href="@{/consultores/crear}">CREAR CONSULTOR</a></p> </li>           
        <li> <p> <a th:href="@{/ofertas/crear}">PUBLICAR OFERTA</a></p> </li>
        <li> <p> <a th:href="@{/ofertas/crear}">PUBLICAR OFERTA</a></p> </li>
    </ul>

  

</body>
</html>