<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"

 th:replace="~{fragmentos/pagina-maestra :: html(~{::title}, ~{::section}, ~{::link})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar Cliente</title>
     <link rel="stylesheet" th:href="@{/css/crud.css}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<section>
    <div id="contenedor">

 <div class="card">
        <h2>Modificar Cliente</h2>

        <form th:action="@{/clientes/modificar}" method="post" th:object="${cliente}">
            
            <label for="usuario">Nombre de Usuario</label>
            <input type="text" id="usuario" th:field="*{usuario}" readonly />

            <label for="nombre">Nombre:</label>
            <input type="text" th:field="*{nombre}" id="nombre"/>
            <p th:errors="*{nombre}" class="error"></p>

            <label for="nuevaClave">Nueva Clave:</label>
        <div class="input-group">
        <input type="password" id="nuevaClave" name="nuevaClave" placeholder="Dejar vacío para no cambiar"/>
        <span class="material-icons" id="toggleClave">visibility</span>
         <p th:errors="*{clave}" class="error"></p>
        </div>

            <label for="rut">RUT:</label>
            <input type="text" id="rut" th:field="*{rut}" required />
               <p th:errors="*{rut}" class="error"></p>

            <label for="url">Sitio Web:</label>
            <input type="text" id="url" th:field="*{url}" />
             <p th:errors="*{url}" class="error"></p>
            
        

            <button type="submit">Guardar Cambios</button>

            <p th:if="${mensaje}" th:text="${mensaje}"></p>

             <a th:href="@{/clientes/lista}" id="volver">← Volver al listado</a>

        </form>

       
    </div>
    </div>
</section>
</html>
<script>

const toggleClave = document.getElementById("toggleClave");
const passwordInput = document.getElementById("nuevaClave");

toggleClave.addEventListener("click", () => {
  const type = passwordInput.type === "password" ? "text" : "password";
  passwordInput.setAttribute("type", type);});
</script>