<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar Cliente</title>
     <link rel="stylesheet" th:href="@{/css/crud.css}">

</head>
<body>
    <div class="card">
        <h2>Modificar Cliente</h2>

        <form th:action="@{/clientes/{id}/modificar(id=${cliente.id})}" method="post">
            <label>Nombre de Usuario</label>
            <input type="text" th:value="${cliente.username}"/>

            <label>RUT:</label>
            <input type="text" name="rut" th:value="${cliente.rut}" required />

            <label>Sitio Web:</label>
            <input type="text" name="urlSitioWeb" th:value="${cliente.urlSitioWeb}" />

            <button type="submit">Guardar Cambios</button>
        </form>

        <a th:href="@{/clientes}" id="volver">← Volver al listado</a>
    </div>
</body>
</html>
