<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
 
th:replace="~{fragmentos/pagina-maestra :: html(~{::title}, ~{::section}, ~{::link})}">

<head>
    <meta charset="UTF-8" />
    <title>Mi Cuenta</title>
    <link rel="stylesheet" th:href="@{/css/crud.css}">
</head>

<section>
    <div id="contenedor">
<div class="card">
    <h2>Mi cuenta</h2>
    <form th:action="@{/micuentaConsu/ver}" method="post" th:object="${consultor}">

        <label for="id">Usuario</label>
        <input type="text" id="usuario" name="usuario" th:field="*{usuario}" readonly > 
        <p th:errors="*{usuario}" class="error"></p>

         <label for="clave">Clave</label>
        <input type="password" id="clave" name="clave" th:field="*{clave}">
        <p th:errors="*{clave}" class="error"></p>
      
        <p th:if="${exito}"
        th:text="${exito}" class="exito"></p>

        <button type="submit" id="modificar">Modificar</button>

        <p th:text="${mensaje}" class="alert alert-success"></p>

        </form>
        <!--/////////////////////////////////////////////////////////////////////////////////////////////////-->
         <form th:action="@{/micuentaConsu/eliminar}" method="post" th:object="${consultor}"> 

           <input type="hidden" name="usuario" th:value="${consultor.usuario}">

                 <button type="submit" id="eliminar">Eliminar mi cuenta</button>

                 <a th:href="@{/consultores/lista}" id="volver">Volver al listado</a>

         </form>

        </div>
    </div>
</section>

</html>