<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"

      th:replace="~{fragmentos/pagina-maestra :: html(~{::title}, ~{::section}, ~{::link})}">
      
<head>
    <title>BIENVENIDA</title>
    <link rel="stylesheet" th:href="@{/css/home.css}" />
</head>

      <section>

    <div class="card">
    
            <h2>Página de inicio</h2>
            <p>Contenido de bienvenida.</p>

        <form th:action="@{/postulaciones/crear}" method="post" th:object="${postulacion}">

            <div>
                <label for="oferta.id"> Oferta </label>
                    <select th:field="*{oferta.id}">
                        <option th:each="o : ${ofertasVigentesParaPostularse}" th:value="${o.id}" th:text="${o.titulo}"></option>
                    </select>                
            </div>

            <div>
                <button type="submit" id="crear"> Crear</button>
            </div>


              <a th:href="@{/postulaciones/lista}" id="volver">Volver al listado</a> 


        </form>

    
    </div>


      </section>

   

</html>
