<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
    
 th:replace="~{fragmentos/pagina-maestra :: html(~{::title}, ~{::section}, ~{::link})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar Área</title>
    <link rel="stylesheet" th:href="@{/css/crud.css}">
</head>

<section>
    <div id="contenedor">
     <div class="card">
            <h2>Eliminar Postulacion</h2>


        <form th:action="@{/postulaciones/eliminar}" method="post" th:object="${postulacion}">
                <p th:text="${mensaje}"></p>

                <input type="hidden" name="codigoOferta" th:value="*{id.idOferta}" />
                <input type="hidden" name="codigoPostulante" th:value="*{id.usuarioPostulante}" />      

                <label for="titulo">Título</label>
                <input type="text" th:field="*{oferta.titulo}" readonly>

                <label for="descripcion">Descripción</label>
                <input type="text" th:field="*{oferta.descripcion}" readonly>

                <label for="fechaPostulacion">Fecha de Postulación</label>
                <input type="text" th:field="*{fechaPostulacion}" readonly>

                <label for="postulante">Postulante</label>
                <input type="text" th:field="*{postulante.usuario}" readonly>

                <button type="submit" id="eliminar">Eliminar</button>

                <a th:href="@{/postulaciones/lista}" id="volver">Volver al listado</a>
            </form>
        </div>
    </div>
</section>

<script>
    const btn = document.getElementById('eliminar');
    const form = document.querySelector('form');
    const dialog = document.getElementById('confirmDialog');
    const confirmYes = document.getElementById('confirmYes');
    const confirmNo = document.getElementById('confirmNo');

    btn.addEventListener('click', function (event) {
        event.preventDefault();
        dialog.showModal(); // abre el modal
    });

    confirmYes.addEventListener('click', () => {
        dialog.close();
        form.submit(); // solo acá se envía
    });

    confirmNo.addEventListener('click', () => {
        dialog.close(); // cierra sin enviar
    });
</script>

</html>
