<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Formulario Oferta Laboral</title>
    <link rel="stylesheet" th:href="@{/css/crud.css}">
</head>
<body>
<div class="card">

<!--
    
<h2>Registrar Nueva Oferta Laboral</h2>
    <form action="#" method="post">
        <label for="titulo">Título</label>
        <input type="text" id="titulo" name="titulo" placeholder="Ej: Desarrollador Frontend" required>

        <label for="fecha_cierre">Fecha de cierre</label>
        <input type="date" id="fecha_cierre" name="fecha_cierre" required>
        
        <label for="area">Área</label>
        <select id="area" name="area" required>
            <option value="">-- Selecciona un área --</option>
            <option value="TI">Tecnología</option>
            <option value="RRHH">Recursos Humanos</option>
            <option value="Marketing">Marketing</option>
            <option value="Ventas">Ventas</option>
            <option value="Administración">Administración</option>
        </select>

        <label for="descripcion">Descripción detallada</label>
        <textarea id="descripcion" name="descripcion" placeholder="Describe las tareas, requisitos y condiciones..." required></textarea>

        <label for="vacantes">Cantidad de puestos vacantes</label>
        <input type="number" id="vacantes" name="vacantes" min="1" placeholder="Ej: 3" required>

        <button type="submit">Publicar Oferta</button>

        <a href="listado.html" id="volver">Volver</a>
    </form>

-->

    
    <form th:action="@{/ofertas/crear}" method="post" th:object="${ofertas}">

        <div>
            <label for="usuario">Usuario</label>           
            <input type="text" th:field="*{cliente}">

        </div>
       
       <div>
           <label for="titulo"> Título </label>
           <input type="text" th:filed="*{titulo}">
       </div>           
       
        <div>
          <label for="descripcion"> Descripción </label>
          <!-- 
              <input type="text" th:field="*{descripcion}" multiple>  
          -->
          <textarea rows="5" cols="50" th:field="*{descripcion}"></textarea>
        </div>

        <div>
            <label for="fechaCierre">Fecha Cierre</label>
            <input type="date" th:field="*{fechaCierre}">
        </div>

        <div>
            <label for="cantidadVacantes"> Cantidad Vacantes</label>
            <input type="number" th:field="*{cantidadVacantes}">
        </div>


        <div>
            <input type="submit" value="crear">
        </div>

    </form>


</div>
</body>
</html>
