<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"

   th:replace="~{fragmentos/pagina-maestra :: html(~{::title}, ~{::section}, ~{::link})}">

<head>
    <meta charset="UTF-8" />
    <title>Formulario Oferta Laboral</title>
     <!-- CSS global -->
    
    
    <!-- CSS extra opcionales que pasen las vistas hijas -->
    <link rel="stylesheet" href="/bioswork/css/crud.css">
</head>


<section>
    <div id="contenedor">
    <div class="card">
    
<form th:action="@{/ofertas/crear}" method="post" th:object="${ofertas}">

        <!--Es necesario preguntar usuario? No sería el que está navegando en el sitio?-->
              
       <div>
           <label for="titulo"> Título </label>
           <input type="text" name="titulo" id="titulo">
           <p th:errors="*{titulo}" class="error"></p>
               
       </div>           
       
        <div>
          <label for="descripcion"> Descripción </label>
          <!-- 
              <input type="text" th:field="*{descripcion}" multiple>  
          -->
          <textarea rows="5" cols="50" th:field="*{descripcion}"></textarea>
             <p th:errors="*{descripcion}" class="error"></p>


        </div>

        <div>
            <label for="area.nombre">Área</label>
            <select th:field="*{area.id}">
                <option th:each="a : ${areas}" th:value="${a.id}" th:text="${a.nombre}"></option>
            </select>
           <!--  <p th:errors="*{area.nombre}" class="error"></p> -->
        </div>
      

        <div>
            <label for="fechaCierre">Fecha Cierre</label>
            <input type="date" name="fechaCierre" id="fechaCierre">
            <p th:errors="*{fechaCierre}" class="error"></p>
        </div>

        <div>
            <label for="cantidadVacantes"> Cantidad Vacantes</label>
            <input type="number" name="cantidadVacantes" id="cantidadVacantes">
            <p th:errors="*{cantidadVacantes}" class="error"></p>
        </div>



        <div>
          <button type="submit" id="crear">Crear</button>
        </div>

              <p th:if="${mensaje}" th:text="${mensaje}"></p>

    </form>
    </div>
    </div>
</section>
</html>
