<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="~{fragmentos/pagina-maestra :: html(~{::title}, ~{::section}, ~{::link})}">

<head>
    <title>Listado de Ofertas</title>
    <link rel="stylesheet" th:href="@{/css/listas.css}">
</head>

<section>
    <div id="contenedor">
        <div class="card">
            <h2>Listado de Ofertas Laborales</h2>


<form id="formularioBusqueda" th:action="@{ofertas/lista}">
            <div>
                <input type="search" name="criterio" th:value="${param.criterio}" id="criterio" placeholder="código o descripción"> <input type="submit" value="Buscar">
            </div>
        </form>
        <br>

        <form id="postulacionActiva" th:action="@{/postulaciones/listaFiltro}" sec:authorize="hasAnyAuthority('postulante')">
            <input type="radio" name="estado"  value="postuladas" th:checked="${}"> Postulada
            <input type="radio" name="estado" value="sinPostular" th:checked="${estado == 'sinPostular'}"> Sin postular
        </form>


            <div style="text-align: center; margin-bottom: 10px;">
            
                <a th:href="@{/ofertas/crear}" class="btn"
                   sec:authorize="hasAnyAuthority('cliente','consultor')">Agregar</a>

                <table>
                    <thead>
                        <tr>
                            <th>Título</th>
                            <th>Descripción</th>
                            <th>Área</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="o : ${ofertas}">
                            <td th:text="${o.titulo}"></td>
                            <td th:text="${o.descripcion}"></td>
                            <td th:text="${o.area.nombre}"></td>
                            <td>
                            
                                <a th:href="@{/ofertas/ver(codigo=${o.id})}" class="btn">Ver más</a>

                             
                                <a th:href="@{/ofertas/modificar(codigo=${o.id})}"
                                   class="btn"
                                   sec:authorize="hasAnyAuthority('cliente','consultor')">
                                   Modificar
                                </a>

                                <a th:href="@{/ofertas/eliminar(codigo=${o.id})}"
                                   class="btn"
                                   sec:authorize="hasAnyAuthority('cliente','consultor')">
                                   Eliminar
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
</html>