<!--<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragmentos/pagina-maestra :: html(~{::title}, ~{::section}, ~{::link})}">

<head>
    <title>Listado de Ofertas</title>
    <link rel="stylesheet" th:href="@{/css/listas.css}">
</head>

<section>
    <div class="card">
    <form action="" th:object="${ofertas}">
        <h2>Listado de Ofertas Laborales</h2>
        <table>
            <tr>
                <th>Título</th><th>Descripción</th><th>Área</th><th>Acciones</th>
            </tr>
            <tr th:each="o : ${ofertas}">
                <td th:text="${o.titulo}"></td>
                <td th:text="${o.descripcion}"></td>
                <td th:text="${o.area}"></td>
                    <td>
                        <a th:href="@{/ofertas/ver(codigo=${o.codigo})}" class="btn">Ver más</a>
                        <a th:href="@{/ofertas/modificar(o.codigo)}" class="btn">Modificar</a>
                        <a th:href="@{/ofertas/eliminar(codigo=${o.})}" class="btn">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
    </div>
</section>
</html>-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragmentos/pagina-maestra :: html(~{::title}, ~{::section}, ~{::link})}">

<head>
    <title>Listado de Ofertas</title>
    <link rel="stylesheet" th:href="@{/css/listas.css}">
</head>

<section>
    <div class="card">
        <h2>Listado de Ofertas Laborales</h2>
        <table>
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Descripción</th>
                    <th>Área</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="o : ${ofertas}">
                    <td th:text="${o.titulo}"></td>
                    <td th:text="${o.descripcion}"></td>
                    <td th:text="${o.area.nombre}"></td>
                    <td>
                        <a th:href="@{/ofertas/ver(codigo=${o.id})}" class="btn">Ver más</a>
                        <a th:href="@{/ofertas/modificar(codigo=${o.id})}" class="btn">Modificar</a>
                        <a th:href="@{/ofertas/eliminar(codigo=${o.id})}" class="btn">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
</html>

