<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragmentos/pagina-maestra :: html(~{::title}, ~{::section}, ~{::link})}">
<head>
  <meta charset="UTF-8">
  <title>Postulantes de la oferta</title>
  <link rel="stylesheet" th:href="@{/css/crud.css}">
  <link rel="stylesheet" th:href="@{/css/listas.css}">
</head>

<section>
  <div id="contenedor">
    <div class="card">
      <h2>Postulantes de la oferta</h2>

      <table>
        <thead>
          <tr>
            <th>Cédula</th>
            <th>Nombre</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="p : ${postulantes}">
            <td th:text="${p.cedula}"></td>
            <td th:text="${p.primerNombre}"></td>
            <td>
                <a th:href="@{/postulantes/ver(usuario=${p.usuario}, idOferta=${idOferta})}" class="btn">Ver más</a>
          </tr>
        </tbody>
      </table>

      <a th:href="@{/ofertas/lista}" class="btn">Volver</a>
    </div>
  </div>
</section>
</html>
