<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
 
th:replace="~{fragmentos/pagina-maestra :: html(~{::title}, ~{::section}, ~{::link})}">

<head>
    <meta charset="UTF-8" />
    <title>Oferta Laboral</title>
    <link rel="stylesheet" th:href="@{/css/crud.css}">
</head>

<section>
<div class="card">
    <h2>Ver Oferta</h2>
    <form action="#" method="post">
        <label for="id">ID</label>
        <input type="text" id="id" name="id" th:value="${oferta.id}" disabled > 
        
        <label for="titulo">Título</label>
        <input type="text" id="titulo" name="titulo" th:value="${oferta.titulo}" readonly>

        <label for="fecha_pub">Fecha de publicación</label>
        <input type="text" id="fecha_pub" name="fecha_pub" th:value="${oferta.fechaPublicacion}" readonly>

        <label for="fecha_cierre">Fecha de cierre</label>
        <input type="text" id="fecha_cierre" name="fecha_cierre" th:value="${oferta.fechaCierre}" readonly>

        <label for="area">Área</label>
        <input type="text" name="area" id="area" th:value="${oferta.area.nombre}" readonly>

        <label for="cliente">Publicado por: </label>
        <input type="text" name="cliente" id="cliente" th:value="${oferta.cliente.nombre}" readonly>

        <label for="descripcion">Descripción detallada</label>
        <textarea id="descripcion" name="descripcion" th:text="${oferta.descripcion}" readonly></textarea>

        <label for="vacantes">Cantidad de puestos vacantes</label>
        <input type="number" id="vacantes" name="vacantes" th:value="${oferta.cantidadVacantes}" readonly>

        <button type="submit" id="postularse">Postularse</button>

        <a th:href="@{/ofertas/lista}" id="volver">Volver al listado</a>
        
        </form>
    </div>
</section>



</html>

