<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:replace="~{fragmentos/pagina-maestra :: html(~{::title}, ~{::section}, ~{::link})}">
 


<head>
    <meta charset="UTF-8" />
    <title>Oferta Laboral</title>
    <link rel="stylesheet" th:href="@{/css/crud.css}">
</head>

<section>
    <div id="contenedor">
<div class="card">
    <h2>Ver Oferta</h2>
    <form th:action="@{/postulaciones/crear}" method="post">

        <label for="id">ID</label>
        <input type="text" id="id" name="id" th:value="${oferta.id}" readonly > 
        <input type="hidden" name="oferta.id" th:value="${oferta.id}">

        <label for="titulo">Título</label>
        <input type="text" id="titulo" name="titulo" th:value="${oferta.titulo}" readonly>

        <label for="fecha_pub">Fecha de publicación</label>
        <input type="text" id="fecha_pub" name="fecha_pub" th:value="${oferta.fechaPublicacion}" readonly>

        <label for="fecha_cierre">Fecha de cierre</label>
        <input type="text" id="fecha_cierre" name="fecha_cierre" th:value="${oferta.fechaCierre}" readonly>

        <label for="area">Área</label>
        <input type="text" name="area" id="area" th:value="${oferta.area.nombre}" readonly>

        <label for="cliente">Publicado por: </label>
        <input type="text" name="cliente" id="cliente" th:value="${oferta.cliente.nombre}" readonly>

        <label for="descripcion">Descripción detallada</label>
        <textarea id="descripcion" name="descripcion" th:text="${oferta.descripcion}" readonly></textarea>

        <label for="vacantes">Cantidad de puestos vacantes</label>
        <input type="number" id="vacantes" name="vacantes" th:value="${oferta.cantidadVacantes}" readonly>

        <!-- 🔹 Si NO está postulado, mostrar el botón de postularse -->
        <button type="submit" id="postularse" sec:authorize="hasAuthority('postulante')" th:if="${!yaPostulado}">Postularse</button>

            <!-- 🔹 Si YA está postulado mostra botón de eliminar postulación -->
    <a th:if="${yaPostulado}"
       th:href="@{/postulaciones/eliminar(codigoOferta=${oferta.id}, codigoPostulante=${#authentication.name})}">
        <button type="button" class="btn btn-danger">
            Eliminar postulación
        </button>
    </a>

    <!-- confirmación de eliminación de postulación -->
    <a th:if="${yaPostulado}"
   th:href="@{/postulaciones/eliminar(codigoOferta=${oferta.id}, codigoPostulante=${#authentication.name})}"
   onclick="return confirm('¿Seguro que deseas eliminar tu postulación a esta oferta?');">
    

        <p th:if="${mensaje}" th:text="${mensaje}" class="exito"></p>

        <!--  <a th:href="@{/postulantes/listaPostulantesPorOferta(id=${o.id})}" class="btn">Ver postulantes</a>  -->
          <a th:href="@{/postulaciones/ofertas/{id}/postulantes(id=${oferta.id})}"class="cv" sec:authorize="hasAuthority('cliente')">Ver postulantes </a>

        <a th:href="@{/ofertas/lista}" id="volver">Volver al listado</a>
        </form>
        </div>
    </div>
</section>
</html>
