<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
 
th:replace="~{fragmentos/pagina-maestra :: html(~{::title}, ~{::section}, ~{::link})}">

<head>
    <meta charset="UTF-8" />
    <title>Mi Cuenta</title>
    <link rel="stylesheet" th:href="@{/css/crud.css}">
</head>

<section>
    <div id="contenedor">
<div class="card">
    <h2>Mi cuenta</h2>
    <form th:action="@{/micuentaC/ver}" method="post" th:object="${cliente}">
        <p th:if="${aviso}" th:text="${aviso}" class="aviso"></p>

        <label for="id">Usuario</label>
        <input type="text" id="usuario" name="usuario" th:field="*{usuario}" readonly >
        <p th:if="${#fields.hasErrors('usuario')}" th:errors="*{usuario}" class="error-simple"></p> 
   

         <label for="clave">Clave</label>
        <input type="password" id="clave" name="clave" th:field="*{clave}" placeholder="Dejar vacío si no desea modificar la clave">
        <p th:if="${#fields.hasErrors('clave')}" th:errors="*{clave}" class="error-simple"></p>
       
        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" name="nombre" th:field="*{nombre}" >
        <p th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="error-simple"></p>
      
        <label for="rut">Rut</label>
        <input type="text" id="rut" name="rut" th:field="*{rut}" >
        <p th:if="${#fields.hasErrors('rut')}" th:errors="*{rut}" class="error-simple"></p>

        <label for="url">Sitio Web</label>
        <input type="text" id="url" name="url" th:field="*{url}" ></input>
        <p th:if="${#fields.hasErrors('url')}" th:errors="*{url}" class="error-simple"></p>

        <label>N° Ofertas Publicadas:</label>
                <input type="text" th:value="${cantidadOfertas}" readonly />
      
        <button type="submit" id="modificar">Modificar</button>

        <p th:if="${error}" th:text="${error}" class="error"></p>
        <p th:if="${exito}" th:text="${exito}" class="exito"></p>

        </form>


        <!--/////////////////////////////////////////////////////////////////////////////////////////////////-->
         <form id="form-eliminar" th:action="@{/micuentaC/eliminar}" method="post" th:object="${cliente}"> 

           <input type="hidden" name="codigoCliente" th:value="${cliente.usuario}">
           <br><hr>
            <div th:if="${cantidadOfertas > 0}" >
                    ⚠️ Este cliente tiene ofertas publicadas. Se realizará una <strong>baja lógica</strong>.
                </div>
                <div th:if="${cantidadOfertas == 0}" >
                    ✅ Se eliminará definitivamente del sistema.
                </div>
                 <button type="submit" id="eliminar">Eliminar mi cuenta</button>
                         <th:block th:if="${cliente}">
            <p>¿Confirma que desea eliminar el cliente? <strong th:text="${producto.codigo}"></strong> (<span th:text="${producto.descripcion}"></span>)?</p>

            <form method="post">
                <div>
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                    <input type="submit" value="Eliminar" />
                </div>
            </form>
        </th:block>
        </form>

        </div>
    </div>
</section>


</html>

