<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
 
th:replace="~{fragmentos/pagina-maestra :: html(~{::title}, ~{::section}, ~{::link})}">

<head>
    <meta charset="UTF-8" />
    <title>Mi Cuenta</title>
    <link rel="stylesheet" th:href="@{/css/crud.css}">
</head>

<section>
    <div id="contenedor">
<div class="card">
    <h2>Mi cuenta</h2>
    <form th:action="@{/micuentaP/ver}" method="post" th:object="${postulante}" enctype="multipart/form-data">

    <p th:if="${mensajeCantidad}" th:text="${mensajeCantidad}" class="aviso"></p>

        <label for="id">Usuario</label>
        <input type="text" id="usuario" name="usuario" th:value="${postulante.usuario}" readonly > 
   
         <label for="clave">Clave</label>
        <input type="password" id="clave" name="clave" th:value="${postulante.clave}">
       
        <label for="cedula">Cédula</label>
        <input type="text" id="cedula" name="cedula" th:value="${postulante.cedula}" >
        <p th:errors="*{cedula}" class="error-simple"></p>

        <label for="fechanacimiento">Fecha Nacimiento</label>
        <input type="date" id="fechanacimiento" name="fechanacimiento" th:value="${postulante.fechanacimiento}" >
        <p th:errors="*{fechanacimiento}" class="error-simple"></p>


         <!-- Departamento -->
                <div>
                    <label for="departamento">Departamento</label>

                   <select id="departamento" name="departamento" th:value="${postulante.departamento}">
                
                        <option value="">Seleccione un departamento</option>
                        <option value="artigas">Artigas</option>
                        <option value="canelones">Canelones</option>
                        <option value="cerro-largo">Cerro Largo</option>
                        <option value="colonia">Colonia</option>
                        <option value="durazno">Durazno</option>
                        <option value="flores">Flores</option>
                        <option value="florida">Florida</option>
                        <option value="lavalleja">Lavalleja</option>
                        <option value="maldonado">Maldonado</option>
                        <option value="montevideo" selected>Montevideo</option>
                        <option value="paysandu">Paysandú</option>
                        <option value="río-negro">Río Negro</option>
                        <option value="rivera">Rivera</option>
                        <option value="rocha">Rocha</option>
                        <option value="salto">Salto</option>
                        <option value="san-josé">San José</option>
                        <option value="soriano">Soriano</option>
                        <option value="tacuarembó">Tacuarembó</option>
                        <option value="treinta-y-tres">Treinta y Tres</option>
                    </select>
                 
                </div>


        <label for="area">Primer Nombre</label>
        <input type="text" name="primerNombre" id="primerNombre" th:value="${postulante.primerNombre}" >
        <p th:errors="*{primerNombre}" class="error-simple"></p>

        <label for="cliente">Segundo Nombre </label>
        <input type="text" name="segundoNombre" id="segundoNombre" th:value="${postulante.segundoNombre}" >
        <p th:errors="*{segundoNombre}" class="error-simple"></p>

        <label for="primerApellido">Primer Apellido</label>
        <input id="primerApellido" name="primerApellido" th:value="${postulante.primerApellido}" ></input>
        <p th:errors="*{primerApellido}" class="error-simple"></p>

        <label for="segundoApellido">Segundo Apellido</label>
        <input type="text" id="segundoApellido" name="segundoApellido" th:value="${postulante.segundoApellido}" >
        <p th:errors="*{segundoApellido}" class="error-simple"></p>
        
        <div>
          <label for="imagen">Subir Imagen (opcional)</label>
          <input type="file" name="imagen" id="imagen" accept="image/*" />
        <p class="error-simple" th:if="${errorImagen}" th:text="${errorImagen}"></p>
        </div>
                
             <div th:if="${imagenDisponible}">
                <label> Foto</label>
                <a id="foto" class="foto" th:href="@{|/imagen/${postulante.cedula}.jpeg|}" target="_blank">Ver Foto</a>
            </div>    

            <div th:unless="${imagenDisponible}">
                <label> Foto </label>
                   <span class="error-simple"> Foto no disponible</span>
               
            </div> 


                <!-- PDF -->
                <div>
                    <label for="pdf">Subir CV (PDF)</label>
                    <input type="file" id="pdf" th:field="*{pdf}" accept="application/pdf">
                    <p class="error-simple" th:if="${errorPdf}" th:text="${errorPdf}"></p>
                </div>


            <div th:if="${cvDisponible}" >
            <label>Currículum</label>
            <a id="cv" class="cv" th:href="@{|/pdf/${postulante.cedula}.pdf|}" target="_blank">Ver CV</a> 
            </div>

        <div th:unless="${cvDisponible}">
            <label>Currículum</label>
            <span class="error-simple">CV no disponible</span>
        </div>



        <button type="submit" id="modificar">Modificar</button>

        <p th:if="${mensaje}" th:text="${mensaje}" class="exito"></p>
        <p th:if="${mensaje2}" th:text="${mensaje2}" class="error"></p>

        </form>
        
         <form th:action="@{/micuentaP/eliminar}" method="post" th:object="${postulante}">        
            
            
            <input type="hidden" name="codigoPostulante" th:value="${postulante.usuario}">

                 <button type="submit" id="eliminar">Eliminar mi cuenta</button>

         </form>

        </div>
    </div>
</section>



</html>

