<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      th:fragment="html(titulo, contenido, estilos)">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- título dinámico -->
    <title th:replace="${titulo}">Página Principal de BiosWork</title>
    
    <link rel="stylesheet" th:href="@{/css/navbar.css}" />
    
</head>
<body>

    
    <div class="contenedor">

            <header class="cabezal-principal">
                <h1>Bienvenido a Bios Work</h1>
            </header>

            <nav class="navegacion-principal">
                <ul>

                    <li><a th:href="@{/home/main}">Inicio</a></li>
                    <p>Acá va un poco de info sobre qué es BiosWork</p>
                       <li><a th:href="@{/home/index}">Ingresar</a></li>
                       <li><a th:href="@{/postulantes/crear}">Registrarse</a></li>
                </ul>
            </nav>

        <main class="contenido" th:replace="${contenido} ?: ~{}">
            <p>Acá va algún banner o imágenes de nuestro sitio y qué ofrecemos</p>
        </main>


    </div>


   
   
</body>
</html>
