<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de inicio</title>
    <link rel="stylesheet" th:href="@{/css/home.css}" />
</head>
<body>
    
    
    <div class="contenedor">
            <header class="cabezal-principal">
                <h1>BiosWork</h1>
            </header>
            <h3>Bienvenido a BiosWork, una plataforma para encontrar y o publicar ofertas laborales</h3>

            <nav class="navegacion-principal">
                <ul>
                <li>
                    <li><a th:href="@{/home/ingresar}">Ingresar</a></li>
                    
                       <li><a th:href="@{/postulantes/crear}">Registrarse</a></li>
                </ul>
            </nav>
</body>
</html>
