<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
    th:replace="~{fragmentos/pagina-maestra :: html(~{::title}, ~{::section}, ~{::link})}">

<head>
    <title>BIENVENIDO</title>
      <link rel="stylesheet" th:href="@{/css/listas.css}">
</head>

<section>
    <h2>INDEX</h2>


<!-- 
    th:object="${ofertas}    
--> 

    <form th:action="@{/home/index}" method="post" th:object="${usuario}">
        <div>
            <label for="usuario">Usuario</label>
            <input type="text" name="usuario" id="usuario">
        </div>

        <div>
            <input type="submit" value="Ingresar">
        </div>
    </form>

    <p>ESTE ES EL NOMBRE QUE SE ESCRIBIÓ EN EL INPUT:</p>
    <p th:text="${usu}"></p>
</section>
</html>
