<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Login</title>
   
<link rel="stylesheet" href="@{/css/styles_general.css}">





</head>
<body>
<div class="card">
    <h2>Iniciar sesión</h2>

    <form th:action="@{/login}" method="post">
        <label>Usuario
            <input type="text" name="username" placeholder="usuario" required />
        </label>
        <label>Contraseña
            <input type="password" name="password" placeholder="contraseña" required />
        </label>
        <button type="submit">Entrar</button>
    </form>

    <a th:href="@{/register}">¿No tienes cuenta? Regístrate</a>

</div>


<footer class="piecito"></footer>

</body>
</html>