<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/crud.css}">
</head>
<body>
   
    <main>
        <div class="card">
            <h2>Iniciar sesión</h2>

            <form th:action="@{/home/login}" method="post" th:object="${usuario}">
                <div>
                    <label for="usuario">Usuario</label>
                    <input type="text" name="usuario" id="usuario" th:value="${usuarioLogin}" readonly>
                </div>

                <div>
                    <label for="clave">Password</label>
                    <input type="password" name="clave" id="clave">
                </div>

                <div>
                  
                    <button type="submit">Ingresar</button>
                </div>
            </form>
            <div class="registro-link">
            <a href="/bioswork/clientes/crear">¿No tienes cuenta? Regístrate</a>
            </div>

           
        </div>
    </main>
</body>
</html>
