<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    <link rel="stylesheet" th:href="@{/css/crud.css}">

</head>
<body>
      
<!--

 public postulantes(String usuario, String clave, @NotNull(message = "Ingrese la cedula") long cedula,
            @NotNull String primernombre, @NotNull String primerApellido, @NotNull String segundoApellido,
            String segundoNombre, @NotNull(message = "Seleccione la fecha de nacimiento") Date fechanacimiento,
            @NotNull(message = "Seleccione el departamento") String departamento,
            @NotNull ArrayList<ofertas> listaOfertas, ImageIO imagen, @NotNull File pdf) {

-->

   <form th:action="@{/postulantes/crear}" method="post" th:object="${postulantes}">

      <div>
           <label for="usuario">Usuario</label>           
            <input type="text" th:field="*{usuario}">
        </div>

        <div>
            <label for="primernombre">Primer Nombre</label>

            <input type="text" th:field="*{primernombre}">
        </div>

        <div>
            <label for="segundoNombre"> Segundo Nombre</label>

            <input type="text" th:field="*{segundoNombre}">
        </div>

        <div>
            <label for="primerApellido"> Primer Apellido </label>

            <input type="text" th:field="*{primerApellido}">
        </div>

        <div>
            <label for="segundoApellido"> Segundo Apellido</label>

            <input type="text" th:field="*{segundoApellido}">
        </div>

        <div>
            <label for="fechanacimiento"> Fecha Nacimiento</label>

            <input type="date" th:field="*{fechanacimiento}">
        </div>

         <div>
            <label for="cedula"> Cedula</label>

            <input type="number" th:field="*{cedula}">
        </div>

        <div>
            <label for="departamento"> DEPARTAMENTO </label>

           <select id="departamento" name="departamento">
            <option value="artigas">Artigas</option>
            <option value="canelones">Canelones</option>
            <option value="cerro-largo">Cerro Largo</option>
            <option value="colonia">Colonia</option>
            <option value="durazno">Durazno</option>
            <option value="flores">Flores</option>
            <option value="florida">Florida</option>
            <option value="lavalleja">Lavalleja</option>
            <option value="maldonado">Maldonado</option>
            <option value="montevideo" selected>Montevideo</option> <!-- Departamento por defecto -->
            <option value="paysandu">Paysandú</option>
            <option value="río-negro">Río Negro</option>
            <option value="rocha">Rocha</option>
            <option value="salto">Salto</option>
            <option value="san-josé">San José</option>
            <option value="soriano">Soriano</option>
            <option value="tacuarembó">Tacuarembó</option>
            <option value="treinta-y-tres">Treinta y Tres</option>
          </select>

        </div>

        <div>
            <input type="submit" value="crear">
        </div>
   </form>


</body>
</html>