<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"

th:replace="~{fragmentos/pagina-maestra :: html(~{::title}, ~{::section}, ~{::link})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    <link rel="stylesheet" th:href="@{/css/crud.css}">

</head>
<section>

    <th:block th:if="${postulante}">

    <p>¿Confirma la eliminación del postulante <strong th:text="${empleado.nombreUsuario}"></strong> (<span th:text="${empleado.nombreCompleto}"></span>)?</p>

    <form method="post">

        <div>
            <input type="submit" value="Eliminar" />
        </div>

    </form>


    </th:block>
</section>
</html>