<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <link rel="stylesheet" th:href="@{/css/listas.css}">

    <title> LISTA POSTULANTES </title>
</head>
<body>
       
       

        <tr>
            <th>Cédula</th><th>Primer Nombre</th><th>Primer Apellido</th><th>Fecha Nacimiento</th><th></th>
        </tr>

        <tr th:each="p, ei : ${listaPostulantes}" th:style="${ei.odd}?'background-color: crimson;'">

            <td th:text="${p.cedula}"></td>
            <td th:text="${p.primernombre}"></td>
            <td th:text="${p.primerApellido}"></td>
            <td th:text="${p.fechanacimiento}"></td>
            <td><a th:href="/postulantes/ver.html?p.usuario" class="button">Ver más</a></td>
        </tr>    
</body>
</html>
