<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

<link rel="stylesheet" th:href="@{/css/crud.css}">

</head>
<body>
      
<form th:action="@{/postulantes/modificar}" method="post" th:object="${Postulante}">

      <div>
           <label for="usuario">Usuario</label>
           
            <input type="text" th:field="*{usuario}" readonly>
        </div>

        <div>
            <label for="primernombre">Primer Nombre</label>

            <input type="text" th:field="*{primernombre}">
        </div>

        <div>
            <label for="segundoNombre"> Segundo Nombre</label>

            <input type="text" th:field="*{segundoNombre}">
        </div>

        <div>
            <label for="primerApellido"> PRIMER APELLIDO </label>

            <input type="text" th:field="*{primerApellido}">
        </div>

        <div>
            <label for="segundoApellido"> SEGUNDO APELLIDO</label>

            <input type="text" th:field="*{segundoApellido}">
        </div>

        <div>
            <label for="fechanacimiento"> FECHA NACIMIENTO</label>

            <input type="date" th:field="*{fechanacimiento}">
        </div>

        <div>
            <label for="departamento"> DEPARTAMENTO </label>

            <select id="departamento" name="departamento">
            <option value="artigas">Artigas</option>
            <option value="canelones">Canelones</option>
            <option value="cerro-largo">Cerro Largo</option>
            <option value="colonia">Colonia</option>
            <option value="durazno">Durazno</option>
            <option value="flores">Flores</option>
            <option value="florida">Florida</option>
            <option value="lavalleja">Lavalleja</option>
            <option value="maldonado">Maldonado</option>
            <option value="montevideo" selected>Montevideo</option> <!-- Departamento por defecto -->
            <option value="paysandu">Paysandú</option>
            <option value="río-negro">Río Negro</option>
            <option value="rocha">Rocha</option>
            <option value="salto">Salto</option>
            <option value="san-josé">San José</option>
            <option value="soriano">Soriano</option>
            <option value="tacuarembó">Tacuarembó</option>
            <option value="treinta-y-tres">Treinta y Tres</option>
          </select>


        </div>

        <div>
            <input type="submit" value="crear">
        </div>

   </form>



</body>
</html>