<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
 
th:replace="~{fragmentos/pagina-maestra :: html(~{::title}, ~{::section}, ~{::link})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

<link rel="stylesheet" th:href="@{/css/crud.css}">

</head>

<section>
<form th:action="@{/postulantes/modificar}" method="post" th:object="${Postulante}">

      <div>
           <label for="usuario">Usuario</label>
           
            <!-- <input type="text" th:field="*{usuario}" readonly> -->

                <input type="text" th:field="usuario" id="usuario" readonly>
        </div>

        <div>
            <label for="primerNombre">Primer Nombre</label>

            <!-- <input type="text" th:field="*{primerNombre}"> -->

            <input type="text" th:field="primerNombre" id="primerNombre">
        </div>

        <div>
            <label for="segundoNombre"> Segundo Nombre</label>

        <!--     <input type="text" th:field="*{segundoNombre}">
 -->
            <input type="text" th:field="segundoNombre" id="segundoNombre">

        </div>

        <div>
            <label for="primerApellido"> PRIMER APELLIDO </label>

           <!--  <input type="text" th:field="*{primerApellido}"> -->

             <input type="text" th:field="primerApellido" id="primerApellido">
        </div>

        <div>
            <label for="segundoApellido"> SEGUNDO APELLIDO</label>

        <!--<input type="text" th:field="*{segundoApellido}">-->

             <input type="text" th:field="segundoApellido" id="segundoApellido">
        </div>

        <div>
            <label for="fechanacimiento"> FECHA NACIMIENTO</label>

          <!--   <input type="date" th:field="*{fechanacimiento}"> -->

            <input type="date" th:field="fechanacimiento" id="fechanacimiento">
        </div>

        <div>
            <label for="departamento"> DEPARTAMENTO </label>

            <select id="departamento" name="departamento">
            <option value="artigas">Artigas</option>
            <option value="canelones">Canelones</option>
            <option value="cerro-largo">Cerro Largo</option>
            <option value="colonia">Colonia</option>
            <option value="durazno">Durazno</option>
            <option value="flores">Flores</option>
            <option value="florida">Florida</option>
            <option value="lavalleja">Lavalleja</option>
            <option value="maldonado">Maldonado</option>
            <option value="montevideo" selected>Montevideo</option> <!-- Departamento por defecto -->
            <option value="paysandu">Paysandú</option>
            <option value="río-negro">Río Negro</option>
            <option value="rocha">Rocha</option>
            <option value="salto">Salto</option>
            <option value="san-josé">San José</option>
            <option value="soriano">Soriano</option>
            <option value="tacuarembó">Tacuarembó</option>
            <option value="treinta-y-tres">Treinta y Tres</option>
          </select>


        </div>

        <div>
            <input type="submit" value="modificar">
        </div>

</form>

</section>

</html>