<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
      
<!--  <form th:action="@{/postulantes/modificar}" method="post" th:object="${postulante}"> -->
    <form th:object="${postulante}" method="post" th:object="${postulante}" onsubmit="return accionEliminar_Modificar(this)">

      <div>
           <label for="usuario">Usuario</label>
           
            <input type="text" th:field="*{usuario}" readonly>
        </div>

        <div>
            <label for="primernombre">Primer Nombre</label>

            <input type="text" th:field="*{primernombre}" readonly>
        </div>

        <div>
            <label for="segundoNombre"> Segundo Nombre</label>

            <input type="text" th:field="*{segundoNombre}" readonly>
        </div>

        <div>
            <label for="primerApellido"> Primer Apellido </label>

            <input type="text" th:field="*{primerApellido}" readonly>
        </div>

        <div>
            <label for="segundoApellido"> Segundo Apellido</label>

            <input type="text" th:field="*{segundoApellido}" readonly>
        </div>

        <div>
            <label for="fechanacimiento"> Fecha Nacimiento/label>

            <input type="date" th:field="*{fechanacimiento}" readonly>
        </div>

        <div aria-readonly="true">

            <label for="fechanacimiento"> Departamento</label>
            <label for="departamento" th:field="*{departamento}"> DEPARTAMENTO </label>        
           
        </div>   
    
                    <div>
                           <!--ESTE BOTON MODIFICA-->
                         <input type="submit" value="modificar" name="accionEnBoton">

                            <!--ESTE BOTON ELIMINA-->
                         <input type="submit" value="eliminar" name="accionEnBoton">                        
                                               
                    </div>

    </form>            


<script>
    function accionEliminar_Modificar(formularioEliminar_Modificar_Postulante)
    {   
        //SE ENCUENTRA EL ELEMENTO BOTON EN EL FORMULARIO Y SI ES DE TIPO SUBMIT (ENVIO)
        const accion = [...formularioEliminar_Modificar_Postulante.elements].find
        
        (botonParaAccion=>botonParaAccion.name==="accionEnBoton" 
        && botonParaAccion ==='submit'
        && document.activeElement ===botonParaAccion)?.value;

        if (botonParaAccion ==='eliminar')
            {
                return confirm("SE ELIMINA EL POSTULANTE?");
            }

            return true;

    }
</script>





</body>
</html>

